<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/utils/forms-utils.css">
    <link rel="stylesheet" href="/css/utils/table-utils.css">
    <link rel="stylesheet" href="/css/admin-users.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">Gestionar Usuarios</h1>
        <a href="#" class="add-user form__btn">Agregar Usuario <img src="/assets/icons/user-plus.svg" alt="+"></a>
    </header>

    <main class="main">
        <section class="search">
            <div class="search-container">
                <form action="" class="search">
                    <div class="form__group">
                        <input type="text" class="form__input" placeholder="Buscar Usuario">
                        <button class="form__btn search__btn" type="submit"><img src="/assets/icons/search.svg" alt="Buscar" class="search-icon"></button>
                    </div>
                </form>
            </div>
        </section>
            
        <section class="users">
            <table class="table">
                <thead class="table__header">
                    <tr>
                        <th class="table__title">Rut</th>
                        <th class="table__title">Nombre</th>
                        <th class="table__title">Mail</th>
                        <th class="table__title">Rol</th>
                        <th class="table__title">Estado</th>
                        <th class="table__title">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-disabled.svg" alt="Inactivo" class="user-disabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/money.svg" alt="Cajero" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/plus-medical.svg" alt="Médico" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/desktop.svg" alt="Secretaria" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>

                    <tr class="table__row table__row--g">
                        <th class="table__content">12345678-9</th>
                        <th class="table__content">Juan Alcachofa</th>
                        <th class="table__content">examplemail@mail.com</th>
                        <th class="table__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></th>
                        <th class="table__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></th>
                        <th class="table__action"> 
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit"></a>
                            <a href="#"> <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete"></a>
                        </th>
                    </tr>
                </tbody>
            </table> 
        </section>

        <section class="users--mobile">
            <div class="table--mobile">
                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row__container">
                    <a href="" class="mobile__row mobile__row--g">
                        <div class="col__one">
                            <div class="col">
                                <p class="col__title">Rut</p>
                                <p class="col__content">12345678-9</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Nombre</p>
                                <p class="col__content">Juan Alcachofa</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Mail</p>
                                <p class="col__content">examplemail@mail.com</p>
                            </div>

                            <div class="col">
                                <p class="col__title">Rol</p>
                                <p class="col__content"><img src="/assets/icons/client.svg" alt="Client" class="user-role__img"></p>
                            </div>
                        </div>

                        <div class="col__two">
                            <div class="col">
                                <p class="col__title">Estado</p>
                                <p class="col__content"><img src="/assets/icons/user-check.svg" alt="Activo" class="user-endabled__img"></p>
                            </div>

                            <div class="col col--actions">
                                <img class= "table__action__img" src="/assets/icons/edit.svg" alt="edit">
                                <img class= "table__action__img" src="/assets/icons/trash-can.svg" alt="delete">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <section class="footer__section">
                <h1 class="footer__logo"><span class="footer__logo--draw">+</span> CuraMe</h1>
            </section>
            <div class="footer__line"></div>
            <p class="footer__group">Copyright &copy; 2022 Grupo 5 - AO_ASY4131_23824833_PCT</p>
        </div>
    </footer>
</body>
</html>