<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/utils/forms-utils.css">
    <link rel="stylesheet" href="/css/utils/table-utils.css">
    <link rel="stylesheet" href="/css/admin-users.css">
    <link rel="stylesheet" href="/css/schedules.css">
    <link rel="stylesheet" href="/css/utils/handler.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <main class="main">
        <%- include("components/admin-navbar.ejs")%>
        <section class="content">
            <section class="content__head"><img src="/assets/icons/left-burger.svg" alt="menu" id="menu"></section>

            <header class="header">
                <h1 class="header__title">Informes y Pagos</h1>
            </header>

            <section class="search">
                <div class="search-container">
                    <form action="" class="search">
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Buscar Pago">
                            <button class="form__btn search__btn" type="submit"><img src="/assets/icons/search.svg" alt="Buscar" class="search-icon"></button>
                        </div>
                    </form>
                </div>
            </section>

            <section class="bills">
                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>
                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>

                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>
                
                <div class="bill">
                    <p class="bill__id">#123456789</p>
                    <p class="bill__date">25/11/2022</p>
                    <p class="bill__time">1:30 PM</p>
                    <p class="bill__employee">Nombre Apellido</p>
                    <a href="" class="btn--g">
                        <img src="/assets//icons/download.svg" alt="descargar" class="btn__img">
                        Descargar
                    </a>
                </div>
            </section>
            
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <section class="footer__section">
                <h1 class="footer__logo"><span class="footer__logo--draw">+</span> CuraMe</h1>
            </section>
            <div class="footer__line"></div>
            <p class="footer__group">Copyright &copy; 2022 Grupo 5 - AO_ASY4131_23824833_PCT</p>
        </div>
    </footer>

    <script src="/js/admin-navigation.js"></script>
</body>
</html>