<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/utils/forms-utils.css">
    <link rel="stylesheet" href="/css/utils/table-utils.css">
    <link rel="stylesheet" href="/css/admin-users.css">
    <link rel="stylesheet" href="/css/utils/handler.css">
    <link rel="stylesheet" href="/css/schedules.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>


    <main class="main">
        <%- include("components/admin-navbar.ejs")%>

        <section class="content">
            <section class="content__head"><img src="/assets/icons/left-burger.svg" alt="menu" id="menu"></section>

            <header class="header">
                <h1 class="header__title">Gestionar Agendas</h1>
            </header>
    
            <section class="search">
                <div class="search-container">
                    <form action="" class="search">
                        <div class="form__group" style="gap: 0;">
                            <input type="text" class="form__input" placeholder="Buscar Especialista">
                            <button class="form__btn search__btn" type="submit"><img src="/assets/icons/search.svg" alt="Buscar" class="search-icon"></button>
                        </div>
                    </form>
                </div>
            </section>

            <section class="docs__container">
                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">
                        <img src="/assets//icons/book.svg" alt="schedule" class="btn__img">
                            Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>

                <div class="doc">
                    <div class="doc__data">
                        <p class="doc__rut">1234567-9</p>
                    </div>
    
                    <div class="doc__data">
                        <p class="doc__name">Miguel Henr&iacute;quez</p>
                        <p>-</p>
                        <p class="doc__skill">Cirujano</p>
                    </div>
                        
                    <div class="doc__actions">
                        <a class="btn--g" href="#">Ver</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <section class="footer__section">
                <h1 class="footer__logo"><span class="footer__logo--draw">+</span> CuraMe</h1>
            </section>
            <div class="footer__line"></div>
            <p class="footer__group">Copyright &copy; 2022 Grupo 5 - AO_ASY4131_23824833_PCT</p>
        </div>
    </footer>
    <script src="/js/admin-navigation.js"></script>
</body>
</html>