<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuraMe</title>
    <!-- Fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/utils/glider.min.css">
    <link rel="stylesheet" href="/css/utils/global-utils.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <%- include("components/navbar.ejs")%>

        <main class="main">
            <section class="hero" id="hero">
                <div class="hero__container">
                    <video class="hero__video" src="/assets//video/hero-bg.mp4" autoplay loop muted></video>

                    <div class="hero__content">
                        <h2 class="hero__title">Nuestros especialistas a tu servicio</h2>
                        <p class="hero__subtitle">La mejor experiencia, la mejor atenci&oacute;n</p>
                    </div>

                    <div class="hero__img-container">
                        <img src="/assets//imgs//hero.png" alt="welcome" class="hero__img">
                    </div>

                    <div class="hero__shadow"></div>
                </div>
                <div class="hero__attention">
                    <p class="attention__title">Agenda tu hora</p>
                    <form action="" class="attention form">
                        <select name="spots" id="spots" class="attention__select">
                            <option value="option" class="attention__option" selected disabled>Sucursal</option>
                            <option value="spot-1" class="attention__option">Vitacura</option>
                            <option value="spot-2" class="attention__option">Santiago Centro</option>
                            <option value="spot-3" class="attention__option">Providencia</option>
                            <option value="spot-4" class="attention__option">Quilicura</option>
                            <option value="spot-4" class="attention__option">San Bernardo</option>
                            <option value="spot-4" class="attention__option">San Miguel</option>
                            <option value="spot-4" class="attention__option">Conchal&iacute;</option>
                            <option value="spot-4" class="attention__option">Apoquindo</option>
                        </select>

                        <select name="skills" id="skills" class="attention__select">
                            <option value="option" class="attention__option" selected disabled>Especialidad</option>
                            <option value="skill-1" class="attention__option">Kinesiolog&iacute;a</option>
                            <option value="skill-2" class="attention__option">Oftalmolog&iacute;a</option>
                            <option value="skill-3" class="attention__option">Otorrinolaringolog&iacute;a</option>
                        </select>

                        <select name="dates" id="dates" class="attention__select">
                            <option value="option" class="attention__option" selected disabled>Fecha</option>
                            <option value="date-1" class="attention__option">20/11/2022 - 15:30</option>
                            <option value="date-1" class="attention__option">21/11/2022 - 10:30</option>
                            <option value="date-1" class="attention__option">2/12/2022 - 16:40</option>
                            <option value="date-1" class="attention__option">15/12/2022 - 09:30</option>
                            <option value="date-1" class="attention__option">20/12/2022 - 15:15</option>
                            <option value="date-1" class="attention__option">30/11/2022 - 15:30</option>
                        </select>

                        <button class="btn--g attention--btn">Agendar</button>
                    </form>
                </div>
            </section>

            <section class="about" id="about">
                <div class="about__container">
                    <div class="about__services">
                        <div class="service">
                            <p class="service__count">1</p>
                            <p class="service__title">Misi&oacute;n y visi&oacute;n</p>
                            <p class="service__underline">-</p>
                        </div>

                        <div class="service">
                            <p class="service__count">2</p>
                            <p class="service__title">Direcci&oacute;n</p>
                            <p class="service__underline">-</p>
                        </div>

                        <div class="service">
                            <p class="service__count">3</p>
                            <p class="service__title">L&iacute;nea &eacute;tica</p>
                            <p class="service__underline">-</p>
                        </div>

                        <div class="service">
                            <p class="service__count">4</p>
                            <p class="service__title">Administraci&oacute;n</p>
                            <p class="service__underline">-</p>
                        </div>
                    </div>

                    <div class="about__description">
                        <div class="about__header">
                            <p class="about__header__title">Sobre nosotros</p>
                            <p class="about__header__content">Personal licenciado en
                                <span class="about__header__content--special">diagnosticos y tratamientos</span>
                            </p>
                        </div>

                        <div class="about__main">
                            <p class="about__main__paragraph">Somos una red de centros médicos que ofrece acceso a salud
                                de calidad a todas las familias de Chile.
                                Nuestro principal foco son los pacientes, es por ellos que ofrecemos la mejor atención
                                velando por el respeto y la integridad de estos, disminuyendo sus tiempos de espera para
                                que de esta manera aumente la eficiencia de nuestros servicios.
                                Contamos con una gama de especialidades definida con expertos en sus áreas
                            </p>
                        </div>

                        <div class="about__footer">
                            <div class="about__footer_list">
                                <div class="about__footer__item">
                                    <p class="about__footer__check">L|</p>
                                    <p class="about__footer__content">Kinesiolog&iacute;a</p>
                                </div>

                                <div class="about__footer__item">
                                    <p class="about__footer__check">L|</p>
                                    <p class="about__footer__content">Oftalmolog&iacute;a</p>
                                </div>

                                <div class="about__footer__item">
                                    <p class="about__footer__check">L|</p>
                                    <p class="about__footer__content">Otorrinolaringolog&iacute;a</p>
                                </div>

                                <div class="about__footer__item">
                                    <p class="about__footer__check">L|</p>
                                    <p class="about__footer__content">Entre muchas m&aacute;s</p>
                                </div>
                            </div>

                            <a href="#" class="btn--g">Agendar Hora</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="categories" id="skills">
                <h2 class="categories__title">Nuestras especialidades</h2>
                <div id="categories__slider">
                    <button id="category--prev">
                        < </button>
                            <div id="categories__container">
                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/capsule.svg">
                                        <p class="category__description">Medicina</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/heart.svg">
                                        <p class="category__description">Cardiolog&iacute;a</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/vial.svg">
                                        <p class="category__description">Laboratorios</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/paste.svg">
                                        <p class="category__description">Procedimientos y Ex&aacute;menes</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/body.svg">
                                        <p class="category__description">Kinesiolog&iacute;a</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/bone.svg">
                                        <p class="category__description">Traumatolog&iacute;a</p>
                                    </div>
                                </div>

                                <div class="category">
                                    <div class="category__content">
                                        <img class="category__img" src="/assets/icons/glasses.svg">
                                        <p class="category__description">Oftalmolog&iacute;a</p>
                                    </div>
                                </div>
                            </div>
                            <button id="category--next">></button>
                            <div role="tablist" id="categories__dots"></div>
                </div>
            </section>

            <section class="skills">
                <div class="skills__img-container">
                    <img src="/assets/imgs/skills.jpg" alt="skills" class="skills__img">
                </div>

                <div class="skills__content">
                    <div class="content__header">
                        <p class="header__title">Especialidades</p>
                    </div>

                    <div class="content__main">
                        <p class="content__paragraph">Contamos con profesionales capacitados en cada una de sus áreas de
                            especialidad.
                            Ven a conocer a fondo nuestras infraestructuras, tecnologías y personal de nuestra red de
                            centros médicos.
                        </p>
                    </div>

                    <div class="content__footer">
                        <div class="content__footer_list">
                            <div class="content__footer__item">
                                <p class="content__footer__check">L|</p>
                                <p class="content__footer__content">Entrega de ex&aacute;menes</p>
                            </div>

                            <div class="content__footer__item">
                                <p class="content__footer__check">L|</p>
                                <p class="content__footer__content">Diagn&oacute;sticos m&eacute;dicos</p>
                            </div>

                            <div class="content__footer__item">
                                <p class="content__footer__check">L|</p>
                                <p class="content__footer__content">Procedimientos y Ex&aacute;menes</p>
                            </div>

                            <div class="content__footer__item">
                                <p class="content__footer__check">L|</p>
                                <p class="content__footer__content">Alergia e inmunolog&iacute;a</p>
                            </div>
                        </div>

                        <a href="#" class="btn--g">Contactar</a>
                    </div>
                </div>
            </section>

            <section class="centers" id="centers">
                <div class="centers__container">
                    <div class="centers__content">
                        <div class="centers__header">
                            <p class="centers__title">Nuestras sucursales</p>
                            <p class="centers__subtitle">Te esperamos con la <span
                                    class="centers__content--highlight">mejor
                                    atenci&oacute;n</span></p>
                        </div>
                        <div class="centers__main">
                            <p class="centers__paragraph">Centro m&eacute;dico CuraMe cuenta con m&aacute;s de 8 Centros
                                m&eacute;dicos en
                                diversas partes de la Capital.
                                Encuentre el m&aacute;s cercano a usted a continuaci&oacute;n.
                            </p>
                        </div>

                        <div class="centers__list">
                            <div class="center">
                                <p class="center__name"> <span class="center__check">L|</span> Vitacura</p>
                            </div>

                            <div class="center">
                                <p class="center__name"><span class="center__check">L|</span> Santiago Centro</p>
                            </div>

                            <div class="center">
                                <p class="center__name"> <span class="center__check">L|</span> Providencia</p>
                            </div>

                            <div class="center">
                                <p class="center__name"><span class="center__check">L|</span> Quilicura</p>
                            </div>

                            <div class="center">
                                <p class="center__name"> <span class="center__check">L|</span> San Bernardo</p>
                            </div>

                            <div class="center">
                                <p class="center__name"><span class="center__check">L|</span> San Miguel</p>
                            </div>

                            <div class="center">
                                <p class="center__name"> <span class="center__check">L|</span> Conchal&iacute;</p>
                            </div>

                            <div class="center">
                                <p class="center__name"><span class="center__check">L|</span> Apoquindo</p>
                            </div>
                        </div>
                    </div>

                    <div class="centers__image-container">
                        <img src="/assets/imgs/h4.jpg" alt="center" class="centers__image">
                    </div>
                </div>
            </section>

            <section class="gallery">
                <h2 class="gallery__title">Siempre a <span class="gallery__title--highlight">tu alcance</span></h2>
                <div class="gallery__grid">
                    <div class="gallery__item gallery__item--tall" style="background-image: url('/assets//imgs/h8.jpg')"
                        data-name="Vitacura"></div>
                    <div class="gallery__item" style="background-image: url('/assets//imgs/h2.jpg')"
                        data-name="Santiago Centro">
                    </div>
                    <div class="gallery__item" style="background-image: url('/assets//imgs/h3.jpg')"
                        data-name="Providencia">
                    </div>
                    <div class="gallery__item gallery__item--wide" style="background-image: url('/assets//imgs/h4.jpg')"
                        data-name="Quilicura"></div>
                    <div class="gallery__item" style="background-image: url('/assets//imgs/h5.jpg')"
                        data-name="San Bernardo">
                    </div>
                    <div class="gallery__item gallery__item--wide" style="background-image: url('/assets//imgs/h6.jpg')"
                        data-name="San Miguel"></div>
                    <div class="gallery__item" style="background-image: url('/assets//imgs/h7.jpg')"
                        data-name="Conchalí">
                    </div>
                </div>
            </section>

            <section class="faq" id="faq">
                <div class="faq__container">
                    <div class="faq__img-container">
                        <img src="/assets//imgs//faq.png" alt="" class="faq__img">
                    </div>

                    <div class="faq__content">
                        <p class="faq__title">Preguntas <span class="faq__title--s">frecuentes</span></p>
                        <div class="faq__list">
                            <div class="faq__item">
                                <div class="faq__collapsable">
                                    <p class="faq__question">Horario de Atenci&oacute;n</p>
                                </div>

                                <div class="faq__answer">
                                    <p class="faq__paragraph">Los centros m&eacute;dicos operan de lunes a viernes entre
                                        las
                                        9:00 y 20:00 horas, y los d&iacute;as S&aacute;bado entre las 9:00 y 14:00
                                        horas.
                                    </p>
                                </div>
                            </div>

                            <div class="faq__item">
                                <div class="faq__collapsable">
                                    <p class="faq__question">Convenios con Fonasa e Isapre</p>
                                </div>

                                <div class="faq__answer">
                                    <p class="faq__paragraph">Averigüe sobre los beneficios que puede adquirir con su
                                        plan de salud asociado con nuestros convenios para nuestros servicios de alta
                                        calidad.
                                    </p>
                                </div>
                            </div>

                            <div class="faq__item">
                                <div class="faq__collapsable">
                                    <p class="faq__question">Descargas de Boletas</p>
                                </div>

                                <div class="faq__answer">
                                    <p class="faq__paragraph">Descargue sus comprobantes de boleta de manera virtual de
                                        sus atenciones m&eacute;dicas desde el sitio web. Esto siempre puede hacerlo mientras
                                        lo estime necesario.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="contact" id="contact">
                <div class="contact__container">
                    <div class="contact__form-container">
                        <div class="contact__form__titles">
                            <p class="contact__title">No dudes en consultar, <span class="contact__title--h">estamos
                                    para responder</span></p>
                            <p class="contact__subtitle">Para garantizar una buena atenci&oacute;n las inquietudes no
                                deben ser un impedimento</p>
                        </div>
                        <form action="" class="contact__form">
                            <input name="username" id="username" type="text" class="contact__input"
                                placeholder="Tu nombre" autocomplete="off" autocapitalize="on">
                            <div class="form__group">
                                <input name="phone" id="phone" type="text" class="contact__input"
                                    placeholder="Número telefónico" autocomplete="off">
                                <input name="email" id="email" type="email" class="contact__input"
                                    placeholder="Correo electrónico" autocomplete="off">
                            </div>
                            <textarea name="message" id="message" placeholder="Mensaje"
                                class="contact__input contact__input--area"></textarea>

                            <button class="btn--g">Enviar</button>
                        </form>
                    </div>

                    <div class="contact__img-container">
                        <img src="/assets/imgs/contact.png" alt="contact us" class="contact__img">
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__container">
                <section class="footer__section">
                    <h1 class="footer__logo"><span class="footer__logo--draw">+</span> CuraMe</h1>
                </section>
                <div class="footer__line"></div>
                <p class="footer__group">Copyright &copy; 2022 Grupo 5 - AO_ASY4131_23824833_PCT</p>
            </div>
        </footer>
        <script src="/js/navigation.js"></script>
        <script src="/js/libraries/glider.min.js"></script>
        <script src="/js/sliders/categories.js"></script>
        <script src="/js/collapsable.js"></script>
</body>

</html>