<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuraMe</title>
    <!-- Fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/utils/forms-utils.css">
</head>

<body>
    <nav class="nav">
    <%- include("components/navbar.ejs")%>

    <main class="main">

        <div class="bg-c"></div>
        <div class="profile content">
            <h2 class="profile__title">Miguel Henríquez</h2>

            <div class="data-group">
                <div class="data-title">Rut</div>
                <div class="data-content">12345678-9</div>
            </div>

            <div class="data-group">
                <div class="data-title">Direcci&oacute;n</div>
                <div class="data-content">Mi Casa #123</div>
            </div>

            <div class="data-group">
                <div class="data-title">Tel&eacute;fono</div>
                <div class="data-content">+569 89988998</div>
            </div>

            <div class="data-group">
                <div class="data-title">Email</div>
                <div class="data-content">example@mail.com</div>
            </div>

            <div class="form__group">
                <input type="password" placeholder="Contraseña" name="password" id="password"
                    class="form__input" autocomplete="off" value="asdsadsadsadasdsa">
                <button type="submit" class="form__btn">Guardar contrase&nacute;a</button>
            </div>
        </div>

        <div class="section__attentions">
            <p class="attention__title">No tiene citas pendientes...</p>
        </div>
    </main>


    <script src="/js/navigation.js"></script>
</body>

</html>