<nav class="navbar">
    <a href="/logout" class="navbar__logo"><span class="navbar__logo--draw">+</span> CuraMe</a>
    <div class="navbar__links">
        <a href="/admin/users" class="navbar__item">
            <p class="navbar__name">Usuarios</p>
            <img src="/assets//icons/admin-users.svg" alt="" class="navbar__img">
        </a>

        <a href="/admin/payment/1" class="navbar__item">
            <p class="navbar__name">Pagos</p>
            <img src="/assets//icons/admin-payment.svg" alt="" class="navbar__img">
        </a>

        <a href="/admin/docs" class="navbar__item">
            <p class="navbar__name">Atenciones</p>
            <img src="/assets//icons/admin-attention.svg" alt="" class="navbar__img">
        </a>

        <a href="/admin/bills" class="navbar__item">
            <p class="navbar__name">Informes</p>
            <img src="/assets//icons/admin-summary.svg" alt="" class="navbar__img">
        </a>
    </div>
</nav>