<footer class="footer">
    <div class="footer__container">
        <section class="footer__section">
            <h1 class="footer__logo"><span class="footer__logo--draw">+</span> CuraMe</h1>
        </section>
        <div class="footer__line"></div>
        <p class="footer__group">Copyright &copy; 2022 Grupo 5 - AO_ASY4131_23824833_PCT</p>
    </div>
</footer>