.header {
    margin-top: 5em;
}

.patients {
    width: 100%;
    grid-column: 1/-1;
    height: 400px;
    background-color: var(--white);
    border-radius: 5px;
    /* box-shadow: 1px 7px 15px -16px var(--black-primary); */
    display: grid;
    place-items: center;
    font-size: 2rem;
}